@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



#case {
	width:15px;
}
img.photo {

max-width: 15%;
float: right;
margin-right: 40px;

}

button {

font-size : 26px;	
font-weight: normal;
margin-left: 40px;
}

p{

 font-weight: lighter;
font-family: 'Roboto', sans-serif;
 text-align: center;
 font-size : 20px;
 height: 600px;
}

#materiel{
	margin-top: 23%;
	text-align: right;
	display: block;
}

table{
	margin: auto;
}

body {
 text-align: bottom;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
}