/******************************************  
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
* 
* Simply copy an existing style from style.css to this file, 
* and modify it to your liking.
*/


/*
     FILE ARCHIVED ON 02:37:22 Apr 14, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:04:19 May 12, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 54.812
  PetaboxLoader3.datanode: 104.885 (4)
  exclusion.robots: 0.297
  exclusion.robots.policy: 0.282
  CDXLines.iter: 21.242 (3)
  captures_list: 178.493
  esindex: 0.01
  LoadShardBlock: 122.533 (3)
  PetaboxLoader3.resolve: 21.89
  RedisCDXSource: 18.29
*/