.last {
    clear: right;
    margin-right: 0 !important;
}


/* Fix WP 4.9.5 bug with caption with all themes */
.entry .wp-caption,
.post_content .wp-caption,
.post-single .wp-caption,
.post-content .wp-caption,
.entry-content .wp-caption {
    max-width: 100%;
}
/*
     FILE ARCHIVED ON 02:37:49 Apr 14, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:04:19 May 12, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 23.444 (3)
  RedisCDXSource: 39.998
  exclusion.robots.policy: 0.209
  captures_list: 102.971
  load_resource: 73.96
  PetaboxLoader3.resolve: 63.803
  exclusion.robots: 0.223
  esindex: 0.015
  PetaboxLoader3.datanode: 39.516 (4)
  LoadShardBlock: 35.516 (3)
*/